.App {
  text-align: center;
}

header {
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 25% 50% 15%;
  grid-template-rows: 50% 50%;
  padding-top: 10px;
}

header h1 {
  grid-row: 1/2;
  grid-column: 2/3;
  margin: 0;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 3em;
}

/* GetStartedCarousel */

.music-elements {
  display: flex;
  justify-content: center;
}

.music-elements img {
  height: 93vh;
  width: 100vw;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 5px;
}

.null {
  display: null
}

footer small {
  margin: 0 auto;
}

.MenuPage {
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.startButton {
  font-family: 'Times New Roman', Times, serif;
  font-stretch: 150%;
  margin: 0;
  font-size: 89px;
  padding-left: 71px;
  padding-bottom: 47px;
}

.start {
  height: 100vh;
  color: rgb(43, 72, 97);
  background-image: url('./images/Menu.jpg');
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.egg-game {
  background-image: url("./images/egg-with-no-wands.jpg");
  background-size: 100vw 100vh;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
}

.egg-only {
  height: 30vh;
  width: 22vw;
  margin-top: 8vh;
  margin-left: 3vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.change {
  background-color: orange;
}

.wands {
  display: flex;
  justify-content: space-evenly;
  height: 35.1vh;
}

.wand {
  height: 35vh;
  width: 3.2vw;
  margin-top: 5vh;
  padding: 0 1.5em;
}

.eggclick {
  border-top-left-radius: 25%;
  border-top-right-radius: 70%;
  border-bottom-left-radius: 70%;
  border-bottom-right-radius: 37%;
  animation: eggclick 2s infinite alternate;
  animation-iteration-count: 10;
}

@keyframes eggclick {
  5% {
    background-color: #DE443F;
    box-shadow: 0 0 10px -10px #DE443F;
  }
  25% {
    background-color: #F2A152;
    box-shadow: 0 0 10px -5px #F2A152;
  }
  25% {
    background-color: #99E583;
    box-shadow: 0 0 10px -1px #99E583;
  }
  33% {
    background-color: #823696;
    box-shadow: 0 0 10px 5px #823696;
  }
  46% {
    background-color: #FEF986;
    box-shadow: 0 0 10px 10px #FEF986;
  }
}

.hidden {
  font-family: 'Times New Roman', Times, serif;
  font-size: 4em;
  margin-top: 1em;
  color: #716A6B;
}

.pick-wand {
  font-family: 'Times New Roman', Times, serif;
  font-size: 4em;
  margin-top: 1em;
  color: #ffffff;
}

.scoreboard img {
  height: 100vh;
  width: 100vw;
}